{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Liz's Braggables - {{title}}</title>
  {% else %}
    <title> Liz's Braggables </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
    
    {% block content %} <h1 style="text-align: center; color: purple;"> My Repositories </h1> {%endblock%}
    <!-- <header class="header">
        <div class="top-bar container-fluid">
            <ul class=" list-inline">
                <li><a href="https://www.linkedin.com/in/chepkirui-betty"><i class="fa fa-linkedin"
                            aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/MehulKo18943279"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://aboutme.google.com/u/0/?referer=gplus"><i class="fa fa-google-plus"
                            aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/chepkiruibetty"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                </li>
            </ul>
            <!--//social-->
        </div>
    </header> -->
    
    
    
    
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %}
{% endblock %}
</body>
</html>