{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Liz's Braggables - {{title}}</title>
  {% else %}
    <title> Liz's Braggables </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include "navbar.html" %}
    
    {% block content %} <h1 style="text-align: center; color: purple;"> My Braggables </h1> {%endblock%}
    <!-- <header class="header">
        <div class="top-bar container-fluid">
            <ul class=" list-inline">
                <li><a href="https://www.linkedin.com/in/elizabeth-otieno-57915821/"><i class="fa fa-linkedin"
                            aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/MehulKo18943279"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://aboutme.google.com/u/0/?referer=gplus"><i class="fa fa-google-plus"
                            aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/chepkiruibetty"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                </li>
            </ul>
         </div> -->
    <!-- </header> -->
     <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class=" list-inline">
                    <li><a class="scrollto" href="#education-section">Education</a></li>
                    <li><a class="scrollto" href="#skills-section">Skills</a></li>
                    <li><a class="scrollto" href="#portfolio-section">Portfolio</a></li>
                    <li><a class="scrollto" href="#contact-section">Contact</a></li>
                </ul>
                <!--//page-nav-->
            </div>
        </div>
        <div class="landing">
            <div class="intro">
                <div class="container text-center">
                    <img class="profile-image" src="https://bit.ly/32ti1wA" alt="Libby">
                    <h1 class="name">Elizabeth Ayiemba Otieno</h1>
                    <h4 class="title">Full Stack Software Development Student </h2>

                    <div class="bio">
                        <p>I am a passionate individual. I love innovations and anything that challenges me intellectually<br>, hence my love for the Tech Field. We have faced so many challenges in the <br>past not knowing that we can actuallycolve them using simple applications. I am therefore <br>here to learn that and make those applications and solutions <br>a reality for not people. </p>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="container text-center">
                    <ul class="list-inline">
                        <li class="email"><i class="fa fa-envelope"></i><a
                                href="eotieno39@yahoo.com">eotieno39@yahoo.com</a></li>
                        <li><i class="fa fa-phone"></i> <a href="tel: +254729595342">+254729595342</a></li>
                    </ul>
                </div>
            </div>

            <!--My Braggables-->
            <section class="portfolio margin" id="portfolio">
                <div class="container">
                    <h2 class="text-center text-uppercase text-white mb-0">My Projects</h2>
                    <hr class="star-light mb-5 text-white">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Libby's Winery</h4>
                                    <p class="card-text">This is a site that i created using Html and CSS only. The site is of a winery that provides different services from wine crushing to photoshoot venue.</p>
                                    <a href="" class="btn btn-danger">Check out on Github</a>
                                </div>
                            </div>
                        </div>

                    </div>
                   
                </div>
            </section>
        
        </div>
    </div>
    
    
    
    
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %}
{% endblock %}
</body>
</html>