{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Liz's Braggables - {{title}}</title>
  {% else %}
    <title> Liz's Braggables </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">%}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
 </head>
<body>
    {% include "navbar.html" %}
    
    {% block content %} 
    <h1 style="text-align: center; color: purple;"> My Braggables </h1> 
    {%endblock%}
     <div class="page-nav-space-holder hidden-xs">
        <div class="landing">
            <div class="intro">
                <div class="container text-center">
                    <img id="me" class="profile-image" src="/" alt="Libby">
                    <h1 class="name">Elizabeth Ayiemba Otieno</h1>
                    <h4 class="title">Full Stack Software Development Student </h2>

                    <div class="bio">
                        <p>I am a passionate individual. I love innovations and anything that challenges me intellectually<br>, hence my love for the Tech Field. We have faced so many challenges in the <br>past not knowing that we can actuallycolve them using simple applications. I am therefore <br>here to learn that and make those applications and solutions <br>a reality for not people. </p>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="container text-center">
                    <ul class="list-inline">
                        <li class="email"><i class="fa fa-envelope"></i><a
                                href="eotieno39@yahoo.com">eotieno39@yahoo.com</a></li>
                        <li><i class="fa fa-phone"></i> <a href="tel: +254729595342">+254729595342</a></li>
                    </ul>
                </div>
            </div>

            <!--My Braggables-->
            <section class="portfolio margin" id="portfolio">
                <div class="container">
                    <h2 class="text-center text-uppercase text-white mb-0">My Projects</h2>
                    <hr class="star-light mb-5 text-white">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Libby's Winery</h4>
                                    <p class="card-text">This is a site that i created using Html and CSS only. The site is of a winery that provides different services from wine crushing to photoshoot venue.</p>
                                    <a href="https://libb521.github.io/Libby.github.io/" class="btn btn-danger">Check out on Github</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Git-Finder</h4>
                                    <p class="card-text">This is a search application that enables users to type in their details, be able to search and see their repositories just as they appear on Github.</p>
                                    <a href="https://libb521.github.io/Git-Finder/" class="btn btn-danger">Check out on Github</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Quotes</h4>
                                    <p class="card-text">This application enables users to create quotes, vote on whether they are terrible or are inspirational and also delete quotes they do not like.</p>
                                    <a href="https://libb521.github.io/quotes.github.io/" class="btn btn-danger">Check out on Github</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Akan-Names</h4>
                                    <p class="card-text">This is a web application that a user uses to get their Akan name by inputting their birth dates and it calculates their day of the week they were born and then depending on their gender outputs their Akan Name. </p>
                                    <a href="https://libb521.github.io/Akan-names.github.io/" class="btn btn-danger">Check out on Github</a>
                                </div>
                            </div>
                        </div>

                    </div> 
                </div>
            </section>
            <footer class="footer text-center">
                <div class="container">
                    <ul class=" list-inline">
                        <li><a href="https://www.linkedin.com/in/elizabeth-otieno-57915821/"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/elizabeth.otieno"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://github.com/Libb521"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        
        </div>
    </div>
    
    
    
    
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %}
{% endblock %}
</body>
</html>